html, body{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgba(219, 219, 219, 0.774);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-bottom: solid rgba(223, 223, 223, 0.795) 4px;
    height: 20%;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    margin-bottom: 50px;
    transition: .4s all ease;
}

.nav-container img {
    border-radius: 7px;
    width: 100%;
}

.main-container {
    display: flex;
    background-color: rgba(189, 189, 189, 0.726);
    position: relative;
    align-items: center;
    justify-content: center;
    height: 50%;
    border-radius: 5px;
}

footer {
    display: flex;
    align-items: flex-end;
    height: 10%;
    font-size: 8px;
    color: rgb(133, 133, 133);
}
/* 
img {
    width: 100%;
} */

.nav-item {
    display: block;
    width: 90px;
    height: 90px;
    transform: translate(0);
    transition: .3s all ease;
}
.nav-item:hover {
    transform: translateY(20px);
    transition: .3s all ease;
}

.nav-item-grow {
    width: 115px;
    height: 115px;
    animation: 1s ease;
}

.main-image {
    display: block;
    position: absolute;
    z-index: 1;
    transform: translate(0px);
    transition: all .5s ease;
}

.main-image img {
    height: 438px;
    max-width: 450px;
    border-radius: 2px;
}

.info-container {
    width: 290px;
    position: absolute;
    z-index: 0;
    background-color: rgba(61, 61, 61, 0.418);
    border-radius: 20px;
    transform: translate(0px);
    transition: all .5s ease;
    
}

.move-left {
    transform: translate(-238px);
    transition: all .7s ease;
}

.move-right {
    transform: translate(238px);
    transition: all .7s ease;
    width: 400px;
    padding: 20px;
}