html, body{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgba(219, 219, 219, 0.774);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: block;
    margin: 15px auto;
    border-bottom: solid rgba(175, 175, 175, 0.685) 2px;
    height: 20%;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 20%;
    margin-bottom: 50px;
}

.nav-container img {
    border-radius: 7px;
}

.main-container {
    display: flex;
    border: red solid 4px;
    position: relative;
    align-content: center;
    justify-content: center;
    height: 50%;
}

footer {
    height: 10%;
}

img {
    width: 100%;
}

.nav-item {
    display: block;
    width: 90px;
    height: 90px;

}

.nav-item-grow {
    width: 115px;
    height: 115px;
    animation: 1s ease;
}

.main-image {
    display: block;
    position: absolute;
    z-index: 1;
    width: 50%;
    transition: all .7s ease;
}

.info-container {
    width: 48%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-color: rgb(214, 52, 52);
}

.move-left {
    transform: translate(-238px);
    transition: all .7s ease;
}

.move-right {
    transform: translate(238px);
    transition: all .7s ease;
}